# Copier ce fichier en .env et remplir les valeurs (JAMAIS commiter .env)
APP_ENV=dev

PRONOTE_URL=https://demo.index-education.net/pronote/eleve.html
PRONOTE_USER=demonstration
PRONOTE_PASS=demonstration
